
<!-- Client selection -->

<div [ngClass]="selectedClient">
  <div class="header bg-primary text-white p-3">
    <label for="clientSelect" class="mr-2 mx-2" style="font-weight: 700;">Select Client:</label>
    <select id="clientSelect" (change)="onClientChange($event)" class="form-control d-inline-block w-auto">
      <option value="clientA">Client A</option>
      <option value="clientB">Client B</option>
      <option value="clientC">Client C</option>
    </select>
  </div>
  <app-employee-form></app-employee-form>
</div>
